<div class="text-right mr-3 py-3">
    <button class="btn btn-success" id="open-all"><i class="fa fa-eye"></i></button>
</div>
<script>
    $(function () {

        {#Collapse sur les contenu#}
        $('#open-all').on('click', function (event) {
            event.preventDefault();
            $('.btn-box-tool').trigger('click');
        })
        {# Affichage des filtres #}
    });
</script>