{% extends '@Cms/Post/post_edit.html.twig' %}

{% block post_edit_right_top %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Taxonomie</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        {{ form_row(form.category) }}
        {{ form_row(form.tags) }}
    </div>
    <!-- /.box-body -->
</div>
{% endblock post_edit_right_top %}