          <div>
            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
              data-ride="carousel">
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                {% include ("@EasyDose/portlet/Esr/declarant.svg.twig") %} 
                  
                </div>
              </div>
            </div>
          </div>