<!--Modal: Login / Register Form-->
<div class="modal fade" id="eivewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2  darken-3" style="background-color: #243a51;" role="tablist">
          <li class="nav-item text-white" style="font-size: larger;">
          
             
              Evènements Indésirables
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content" id="contenteiviewer">
          <!--Panel 7-->
          
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->
