<div id="righteicorner{{esrid}}" class="righteicornerauto text-right background" style="border-color: transparent {{categorie.getCouleurCategorie()}} transparent transparent;"></div>
<div class="text-right backgroundtextmanuel font-weight-bold">E.I.</div>	
