{% if esrtype=='manuel' %} 
    <div class="rightcornermanuel text-right background"></div>
    <div class="text-right backgroundtextmanuel font-weight-bold">E.S.R. Manuel</div>
{% else %}
    <div class="rightcornerauto text-right background"></div>
    <div class="text-right backgroundtextmanuel font-weight-bold">E.S.R. Auto</div>	
{% endif %}