<div style="height:600px;overflow-y:scroll;">
<div  id="identitiedeclarant">
	<form class="text-center border border-light p-5" action="#!">
		<p class="h4 mb-4 text-center">Déclaration d'évènement significatif non cloturée</p>
						
						
         <p  class="text-center  mb-3 mt-3" style="border-bottom:1px solid #ced4da;">                     	
         <strong>4.</strong>
          Vous avez une déclaration d'un évènement significatif qui n'est pas cloturée.
         </p>  
		 </p>
		 Voulez-vous continuer?
		 </p>                  
       
       
        {% include ("@EasyDose/portlet/Esr/annuler_continuer.html.twig") %}   
     </form>  
</div>
</div>