<div style="height:600px;overflow-y:scroll;">
<div  id="identitiedeclarant">
	<form class="text-center border border-light p-5" action="#!">
		<p class="h4 mb-4 text-center">Fin </p>
				<div id="error" class='text-danger'></div>		
						
         <p  class="text-center  mb-3 mt-3" style="border-bottom:1px solid #ced4da;">                     	
         <strong>4.</strong>
          Vous êtes sur le point de cloturer votre déclaration.
         </p>  
		 </p>
		 Voulez-vous continuer?
		 </p>                  
       
       
        {% include ("@EasyDose/portlet/Esr/annuler_valider.html.twig") %}   
     </form>  
</div>
</div>


