$(function () {
    $('.sonata-ba-list tr').attr('id', function () {
        return 'objectid-' + $(this).find('td').first().attr('objectid');
    });

    // add class .handle to first td
    $('.sonata-ba-list tr').each(function () {
        $(this).find('td').first().addClass('handle').append('<i class="fa fa-arrows-v"></i>');
    });


    $('.sonata-ba-list tbody').sortable({
        placeholder: "ui-state-highlight",
        cursor: "move",
        handle: ".handle",
        stop: function (event, ui) {
            var source = ui.item.first();
            var data = {
                'sourceId': source.attr('id'),
                'destId': source.next().attr('id'),
                'entityClass': '{{ admin.class }}'
            };
            $.ajax({
                type: 'POST',
                url: Routing.generate('cms_admin_sortable'),
                data: data,
                dataType: 'json'
            }).success(function () {
                $('.content').prepend('<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Position mise à jour</div>');
            });
        }
    }).disableSelection();
});
