<li icon="<i class='fa fa-puzzle-piece'></i>" class="treeview">
    <a href="#"><span class="fa fa-users">&nbsp;</span><span>Replay</span><i class="fa pull-right fa-angle-left"></i></a>
    <ul class="treeview-menu menu_level_1">
        {% if granted('user', 'user', 'list') %}<li><a href="{{ path('admin_app_fichierdcm_list') }}">Réimportation des fichiers</a></li>{% endif %}
    </ul>
</li>