// assets/styles/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
.spinner {
    animation: spin infinite 5s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }

  .text-pink {
    color: rgb(127, 0, 129) !important;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }
  .text-blue {
    color: rgb(36.3553719008, 86.4297520661, 129.6446280992)!important;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }
  .active{
    background-color: #0e3d67 !important;
  }
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";