<!-- liste_des_type_examens.html.twig -->
<select id="fonctiondeclarantesr" class="browser-default custom-select mb-4">                        
     <option value="" disabled  selected="selected">Choisir Type examens</option>
     <option value="scanner">SCANNER</option>
     <option value="radio">RADIOGRAPHIE</option>
     <option value="mammo">MAMMOGRAPHIE</option>
</select>



