<div class="row libelleidentificationpatient">
	<div class="col-md-2"> Contacts</div> 
</div>

<div class="row valueidentificationpatient">
	<div class="col-md-2"> 6A chemin des Poiriers, 97490 Saint-Clotilde</div> 
</div>