	<div class="row" style="margin-bottom:50px;">
        <div class="col-md-12" id="divEpinglerPatient">
              <!-- Form with header -->
              <div class="flatcard" style="height:400px;">
              <div class="col-md-12 onglet1" ><i class="fa fa-map-pin" aria-hidden="true"></i>
&nbsp;Epingler un patient</div>
                <div class="card-body pr-1 pl-0" id="divEpinglerPatientBody">
                
                  <!-- Header -->
                  
                 
                  
                  <!-- Body -->
                  <div class="row">
                      <div class="col-md-12 align-middle" id="imageepingler" style="display:flex;">
                      <img alt="" src="{{ asset("assets/images/epingle.jpg") }}" style="float:left;"> 
                      <p class="dark-grey-text align-middle middled textgras">Glissez-Déposez ici.</p>
                      
                      </div>
                  
                  </div>
                  <div class="row ml-0 mr-0" style="overflow-y:auto;overflow-x:hidden;max-height:18rem;" id="divinsertion">
                  
                  
                  
                  
                  </div>
                
                </div>
              </div>
              <!-- Form with header -->
		</div>

	</div>