
 <!-- Grid column -->
    <div class="col-md-2 mb-lg-0 mt-5" style="margin-top:47px;">


{% include ("@EasyDose/Patient/epinglerpatient.html.twig") %} 
	
	
	<div class="row">
        <div class="col-md-12">
              <!-- Form with header -->
              <div class="flatcard" style="height:100%;">
              <div class="col-md-12 onglet1" ><i class="fas fa-envelope"></i>&nbsp;Messages</div>
                <div class="card-body">
                
                  <!-- Header -->
                  
                 
                  <p class="dark-grey-text">Transmettre un message</p>
                  <!-- Body -->
                 
                 <form id="formmail" action="{{path('sendmailtoone')}}">
                  
                 <!-- Navbar -->
          		<div class="md-form">
          		 
          		 
          		 <div class="nav-item dropdown">
                  <a style="text-align: center;" class="form-control nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkDest" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                   <div id="libdest"> Destinataire</div>
                  </a>
                  <div style="width:100%;" class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLinkDest">
                    {% for dest in listdest %}
                    <a class="dropdown-item optiondest" value="{{ dest.email}}" href="#">{{ dest.firstname }}  {{ dest.lastname  }}</a>
                    {% endfor %}
               
                  </div>
                </div>
              </div>
                   
                  <div class="md-form">
                    <i class="fas fa-tag prefix grey-text"></i>
                    <input type="text" id="form-Subject" class="form-control">
                    <label for="form-Subject">Object</label>
                  </div>
                  <div class="md-form">
                    <i class="fas fa-pencil-alt prefix grey-text"></i>
                    <textarea id="form-text" class="form-control md-textarea" rows="2"></textarea>
                    <label for="form-text">Message</label>
                  </div>
                  <div class="text-center">
                    <input style="border:2px solid rgb(56,107,255) !important;color: rgb(56,107,255) !important;" type="button" class="btn btn-outline-primary waves-effect" onclick="sendmailtoOne();" value="Transmettre" >
                  </div>
                  
                  </form>
                </div>
              </div>
              <!-- Form with header -->
		</div>

	</div>
	
    </div>
    <!-- Grid column -->
   
    
    
    