
 
  <div style=" position:absolute;top:-35px;left:28px;">
	<a onclick="getreturn('{{url('worklist',{screenheigth:"_screenheigth"})}}','{{ url('getjsonPatientAllname') }}');";><i class="fa fa-2x fa-angle-left"></i> <span style="text-decoration:underline;display: table-cell; vertical-align: middle; line-height: normal;font-weight:400;font-size:large;">Retour</span> </a>
  </div>
  

<div class="card card-cascade narrower">
<div class="col-md-12 onglet1"> <i class="fas fa-1x fa-tools"></i> Page en cours de construction</div>
<div class="row">
  <h1></h1>
  <div class="col-md-12"><h1 class="mb-0 ml-3 mt-3 mdb-card-title"><center>{{ pagetitle }}</center></h1></div>
 <div class="col-md-12"><center><img alt="Page en construnction" src="{{ asset('assets/images/redaction.jpg') }}"></center></div>
 <div class="col-md-12"><h6 class="mb-0 ml-3 mt-3 mdb-card-title">&nbsp;</h6></div>
</div>

</div>
 <script>
$(document).ready(function() {
	$('#maincontent').loading('stop');
	});

function morePatient(id,url1,url2){
	getinfopatient(id,url1,url2);
}

function moreDose(id,url1,url2){
	getinfopatient(id,url1,url2);
}

</script>