<div style="border:1px solid #e0e0e0;padding:6px;background-color:rgba(252,252,252,0.8);">
<div class="mt-3">
<div class="row">
	<div class="col-md-7 ">
	
     <p>Choisir le protocole adapté permettant de réduire les doses au niveau le plus faible raisonnablement atteignable.
    En cas de besoin, veuillez contacter votre radiophysicien.</p>

</div>                    
</div>  
</div>


</div>