<div style="border:1px solid #e0e0e0;padding:6px;background-color:rgba(252,252,252,0.8);">
<div class="mt-3">
<div class="row">
	<div class="col-md-7 ">
	
     <p>Afin de limiter la dose reçue par le patient :<br>
     Adaptez les constantes de l’examen à la morphologie du patient<br>
     Limitez la zone d’exposition à la région d’intérêt (utilisez les diaphragmes ou réduisez au maximum les limites supérieures et inférieures 
     d’exploration sur le « Scout View »)</p>

</div>                    
</div>  
</div>


</div>