<!-- Modal -->
<div class="modal fade" id="apropos" tabindex="-1" role="dialog" aria-labelledby="apropos"  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">A propos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <ul>
       <li> Site : <span style="color:rgb(21,35,71);font-family:regular;">{{ etablissement.nom }}</span></li>
        
        
       <li> Module Easywork: <span style="color:rgb(21,35,71);font-family:regular;">EasyDose</span></li>
        
        
      <li>  Version du logiciel: <span style="color:rgb(21,35,71);font-family:regular;">V1.0.0</span></li>
        
       <li> Expiration du logiciel: <span style="color:rgb(21,35,71);font-family:regular;">09/09/9999</span></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        
      </div>
    </div>
  </div>
</div>