
<!-- Modal -->
<div class="modal fade" id="exampleModalLongSC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongSC"  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ etablissement.nom }}.<br>
        
        
        <ul>
        <li>
        Support Logiciel:<br>
        06 93 70 69 62<br>
       	support@runradiophysique.com
        
        </li>
        
       
         <li>ASN:<br>
         01 87 36 44 00 / 01 87 36 44 15<br>
         paris.asn@asn.fr
         </li>
         
       </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        
      </div>
    </div>
  </div>
</div>