<div style="margin-bottom: 1em; text-align: left;">


IMPORTANT. CONFIDENTIEL : Les informations contenues dans ce message sont confidentielles et peuvent être protégées par la loi. Ce message est établi à l'intention exclusive de ses destinataires. Si vous recevez ce message par erreur, toute lecture, exploitation ou transmission des informations contenues dans ce message est interdite. Merci de prévenir l'expéditeur et de supprimer de votre ordinateur le message et tous les fichiers éventuellement attachés.
Tout message électronique est susceptible d'altération. EASYWORK décline toute responsabilité au titre de ce message s'il a été altéré, déformé ou falsifié ; de même, il appartient au destinataire de s’assurer de l’absence de tout virus.
IMPORTANT. CONFIDENTIALITY : this e-mail is confidential and meant for only the intended recipients of the transmission, and may be a communication privileged by law. If you received this e-mail in error, any review, use, dissemination, distribution or copying of this e-mail is strictly prohibited. Please notify the sender immediately of the error by return e-mail and please delete this message and any attachments from your system. Thank you in advance for your cooperation.
E-mails are susceptible to alteration. EASYWORK shall not be liable for the message if altered, changed or falsified. the recipient should ensure they are actually virus free.


</div>

<div class="col-md-12" style="background-color:{{ color }}; color: white; font-family: 'Helvetica neue',Helvetica,Arial,Verdana,sans-serif;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 1em;">
   		
   		&nbsp; 
</div>