.locale_switcher {
  img {
    @extend .mr-1;
  }
}

.container.main {
  margin-top: 51px;
}

#archive {
  a {
    @extend .c-2l;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}


@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: $modal-xl;
  }
}

