<div class="modal fade" tabindex="-1" role="dialog" id="optimdetailmodal" aria-labelledby="optimdetailmodal"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-xl">
    <div class="modal-content">
       <input type="hidden" id="hiddenidoptim" >
       <div id="contentoptimdetail">
       
       </div>
    </div>
  </div>
</div>


<!-- optim_detail.html.twig --> 