.facebooknotif {
	background-color: red;
	color:write;
	width: auto;
	height: 18px;
	font-weight: bold;	
	position: relative;
	top:-5px;
	left: 2px;
	padding-left:1px;
	padding-right:2px;
	padding-bottom: -1px;
	padding-top: -1px;
	border-radius: 2px;
}

.full-screen {
    max-width: 100%;
	max-height: 100%;
  }

.large-height {
	max-height: 100%;
 }

.facebooklabel{
	
}

.facebooknotifnb{
	
	color:rgb(182,185,191);
	
}

.bg-whitecust:hover{
	
	color:black;
	
	
}

.bg-whitecust2:hover{
	
	color:black;
	
	
}

.progress{
	background-color:white;
}
.textnbhin{
	color:#2a4257;
}

.bg-whitecust{
	background-color: transparent;
	border:1px solid #f2f2f2;
	box-shadow:2px 2px 3px 0px rgba(0,0,0,0.24);
	color:#2a4257;
}


.bg-whitecust2{
	background-color: transparent;
	border:1px solid #f2f2f2;
	box-shadow:2px 2px 3px 0px rgba(0,0,0,0.24);
	color:red;
}

.content-wrapper{
	background-color:white;
}

.textinboxthin{
	text-decoration: none;
}


.textinboxthin:hover{
	color:black;
}



.textinboxthin2{
	color:red;
	 
}


.textinboxthin2:hover{
	color:red;
	text-decoration: underline;
}