<ul class="nav navbar-nav hidden-xs">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-eye"></i> Lister</a>
        <ul class="dropdown-menu">
            {% if granted('user', 'user', 'list') %}<li><a href="{{ path('admin_user_user_list') }}"><i class="fa fa-user"></i>Utilisateur</a></li>{% endif %}
        </ul>
    </li>
</ul>