<ul class="nav navbar-nav hidden-xs">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-plus-square fa-fw"></i>  Ajouter</a>
        <ul class="dropdown-menu">
            {% if granted('user', 'user', 'create') %}<li><a href="{{ path('admin_user_user_create') }}"><i class="fa fa-user"></i>Utilisateur</a></li>{% endif %}
        </ul>
    </li>
</ul>