{% set variables = vars() %} {# init variables #}
{# @var config \CoreBundle\Entity\Config  #}
{% set config = getConfig() %} {# init config #}
{# @var configCms \CmsBundle\Entity\Config  #}
{% set configCms = getConfigCms() %} {# init config #}
{% set rootPath = ":" ~ constant("CmsBundle\\Util\\TemplateHierarchy::FOLDER_THEMES") ~ "/" ~ configCms.theme %}
{% block htmlOpen %}
<!DOCTYPE html>
    {% block htmlDoctype %}
<html lang="{{ app.request.locale }}">
{% endblock %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} | {{ config.name }}{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}{% endblock %}"/> {#metaDescription#}
    <meta name="keywords" content="{% block metaKeyword %}{% endblock %}"/> {#metaKeyword#}
    {% block otherMeta %}{% endblock %}
    {% block stylesheets %}{% include rootPath ~ '/partials:stylesheets.html.twig' %}{% endblock %}
    {% block javascriptsTop %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}{% include rootPath ~ '/partials:header.html.twig' %}{% endblock %}
{% endblock htmlOpen %}
{% block layout %}{% endblock %}
{% block htmlClose %}
{% block footer %}{% include rootPath ~ '/partials:footer.html.twig' %}{% endblock %}
{% block javascripts %}{% include rootPath ~ '/partials:javascripts.html.twig' %}{% endblock %}
</body>
</html>
{% endblock htmlClose %}
