
<div class="row">
    <div class="col-md-1 ">&nbsp;
    </div>
</div>
<div class="row titrecolonne2">
    <div class="col-md-12 ">
   <center> Accueil </center>
    </div>
</div>
 <div class="col-md-1 trianglebas"></div>
<p>Bienvenu dans EASYDOSE, votre système d'archivage et de gestion centralisée de la dose délivrée lors d'examens radiologiques.</p>
<p>Laboratoire : LES CAPRICORNES</p>

