
                    
                      <form>
                      
                      <div class="row">
                        <div class="col-md-1 ">&nbsp;
                        </div>
                    </div>
                    <div class="row titrecolonne2">
                        <div class="col-md-12">
                      Prendre Rendez-vous
                      </div>
                       
                      </div>
                      <div class="col-md-1 trianglebas"></div>
                      <div class="form-group">                        
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nom">
                      </div>
                      
                      
                      <div class="form-group">                        
                        <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Prénom">
                      </div>
                      
                      
                      
                       <div class="form-check form-check-inline">                        
                        <input type="checkbox" class="form-check-input" id="formcheck1" value="1">
                        <label class="form-check-label" for="formcheck1">F</label>
                        
                       </div>
                      <div class="form-check form-check-inline"> 
                      <input type="checkbox" class="form-check-input" id="formcheck2" value="2">
                        <label class="form-check-label" for="formcheck2">H</label>
                      </div>
                      
                      
                      <div class="form-group">                        
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="IPP">
                      </div>
                      <div class="form-group">                        
                        <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="ID Régional">
                      </div>
                      <div class="form-group">                        
                        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Naissance">
                      </div>

   
  						<div class="form-group">                        
                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Heure RDV">
                      </div>
                      
                      <div class="form-group">                        
                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Salle">
                      </div>
                      
						<button class="btn btn-primary" type="submit">Valider </button>	
						</form>