{% extends '@Core/Config/config_edit.html.twig' %}

{% block config_form %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
    </div>
{% endblock config_form %}
